<p id="notice"><%= notice %></p>

<h1>Symptoms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Frequency</th>
      <th>Integer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @symptoms.each do |symptom| %>
      <tr>
        <td><%= symptom.name %></td>
        <td><%= symptom.frequency %></td>
        <td><%= symptom.integer %></td>
        <td><%= link_to 'Show', symptom %></td>
        <td><%= link_to 'Edit', edit_symptom_path(symptom) %></td>
        <td><%= link_to 'Destroy', symptom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Symptom', new_symptom_path %>
