<p id="notice"><%= notice %></p>

<h1><%= @symptom.name.capitalize %></h1>

<p>
  <strong>Frequency:</strong>
  <%= @symptom.frequency %>
</p>

<p>What sounds like your ailment?</p>

<ul>
  <% @diseases.each do |disease| %>
    <li><%= link_to disease.name.capitalize, disease %></li>
  <% end %>
</ul>

<p><%= link_to 'Back to body diagram', body_diagram_path %></p>

<% if Rails.env.development? %>
  <p><%= link_to 'View all symptoms', symptoms_path %></p>
<% end %>
