<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @treatment.name %>
</p>

<p>
  <strong>Resource cateogry:</strong>
  <%= @treatment.resource_category %>
</p>

<p>
  <strong>Disease:</strong>
  <%= @treatment.disease_id %>
</p>

<%= link_to 'Edit', edit_treatment_path(@treatment) %> |
<%= link_to 'Back', treatments_path %>
