<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col body-diagram-block mdl-shadow--2dp plain-background">
    <div class="card-header-color mdl-color-text--grey-600 mdl-shadow--2dp mdl-card__title">            <%=image_tag ('BEMCologo.jpg'), :class => "mdl-list__item-avatar"%>
      <div class="mdl-layout-spacer"></div>        
      <h4>BEMCo</h4>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <p><a href="http://www.brandeis.edu/publicsafety/bemco/index.html">Website</a></p>      
      <p>The Brandeis University Medical Corps (BEMCo) is Brandeis’ student-run volunteer emergency medical service. BEMCo strives to provide timely and efficient emergency medical care to the Brandeis community. Today, under the guidance of the Director of Public Safety and the director of the University Health Center, BEMCo continues to meet the emergency medical needs of the community.  TO CONTACT BEMCO DIAL: 781-736-3333</p>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col body-diagram-block mdl-shadow--2dp plain-background">
    <div class="card-header-color mdl-color-text--grey-600 mdl-shadow--2dp mdl-card__title">            <%=image_tag ('SSISlogo.jpg'), :class => "mdl-list__item-avatar"%>     
      <div class="mdl-layout-spacer"></div>        
      <h4>SSIS</h4>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <p><a href="http://people.brandeis.edu/~ssis/Site/index.html">Website</a></p>
      <p>The Student Sexuality Information Service (SSIS) has been an integral part of Brandeis’s campus since 1973. SSIS is a unique, on campus, for students by students, resource that aims to cultivate a safe, sex-positive community while satisfying every Brandeisian’s sexual health needs. Along with a comprehensive library, an array of superior quality safer sex and sexploration products, SSIS provides a confidential peer counseling service. Call (781)-736-3695</p>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col body-diagram-block mdl-shadow--2dp plain-background">
    <div class="card-header-color mdl-color-text--grey-600 mdl-shadow--2dp mdl-card__title">
      <%= image_tag ('brandeis-logo.png'), :class => "mdl-list__item-avatar"%>      
      <div class="mdl-layout-spacer"></div>        
      <h4>RCC</h4>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <p><a href="http://www.brandeis.edu/rape-crisis-center/">Website</a></p>      
      <p>The Brandeis Rape Crisis Center provides direct support to members of the Brandeis community impacted by sexual violence and works to bring about a campus climate in which sexual violence is unacceptable.  Call 781-736-337</p>
    </div>
  </div>  
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col body-diagram-block mdl-shadow--2dp plain-background">
    <div class="card-header-color mdl-color-text--grey-600 mdl-shadow--2dp mdl-card__title">    
      <%= image_tag ('QRClogo.png'), :class => "mdl-list__item-avatar"%>      
      <div class="mdl-layout-spacer"></div>        
      <h4>QRC</h4>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <p><a href="https://qrcbrandeis.weebly.com/">Website</a></p>      
      <p>The Queer Resource Center (QRC) is a student run organization that strives to provide support, education, outreach, and advocacy for all members of the Brandeis undergraduate community.  QRC Staffers receive training in supporting and counseling people of all identities including but not limited to Trans (the Transgender umbrella), Lesbian, Gay, Bisexual, Asexual, Queer, Intersex, BDSM, Kink, Polyamory, and Allies.  We also provide services surrounding intersectionality, privilege and oppression, domestic violence, sexual assault, suicide prevention, self-harm, and sexual health.  We are committed to making Brandeis a safe space for students of all genders, sexualities, and identities through confidential peer counseling, educational outreach programs, resources and referrals.</p>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col body-diagram-block mdl-shadow--2dp plain-background">
    <div class="card-header-color mdl-color-text--grey-600 mdl-shadow--2dp mdl-card__title">
      <%= image_tag ('star-logo.png'), :class => "mdl-list__item-avatar"%>            
      <div class="mdl-layout-spacer"></div>        
      <h4>STAR</h4>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <p><a href="https://sites.google.com/a/brandeis.edu/club-star/">Website</a></p>      
      <p>STAR (Students Talking About Relationships) provides a face-to-face peer counseling resource for the Brandeis community. All STAR counselors are trained by professionals on topics including but not limited to general counseling skills, campus resources and procedures, domestic and dating violence, rape crisis and sexual assault, pregnancy options and STD/STIs, alcohol and drugs, eating disorders and body image, gay, lesbian, bisexual, and transgender topics, religion, mental health, and suicide and self-harm. In addition to peer-counseling, STAR executes events related to mental health, self-care and stress relief such as STAR Study Break as well as events such as Take Back the Night related to sexual violence, relationship, and other topics.</p>
    </div>
  </div>
</div>
