<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
      <a class="mdl-navigation__link" onclick="showTabContent(event, 'emer_lvl')"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i> Emergency Level</a>
      <a class="mdl-navigation__link" onclick="showTabContent(event, 'pain_lvl')"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i> Pain Chart</a>
      <a class="mdl-navigation__link" onclick="showTabContent(event, 'clinic_lst')" id="defaultOpen"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">room</i> Nearby Clinics</a>
      <a class="mdl-navigation__link" onclick="showTabContent(event, 'events')" id="eventsOpen"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">event</i> Events</a>
      <a class="mdl-navigation__link" onclick="showTabContent(event, 'groups')" ><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i> Student Groups</a>
      <div class="mdl-layout-spacer"></div>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
    </nav>
  </div>
  <main class="mdl-layout__content mdl-color--grey-100" id ="contents">
    <br/>
    <div id = "emer_lvl" class = "tabcontent">
      <%= render file: "./static_pages/emergency_level" %>
    </div>
    <div id = "pain_lvl" class = "tabcontent">
      <%= image_tag('pain_scale.jpg')%>
    </div>
    <div id = "clinic_lst" class = "tabcontent">
      <%= render file: "./static_pages/clinic_lst" %>
    </div>
    <div id = "group_lst" class = "tabcontent">
      <%= render file: "./static_pages/stu_groups_lst" %>
    </div>
    <div id = "events" class = "tabcontent">
      <%= render file: "./static_pages/events" %>
    </div>
    <div id = "groups" class = "tabcontent">
        <ul class="mdl-list">
            <li class="mdl-list__item mdl-list__item--three-line"><%=image_tag ('BEMCologo.jpg'), :class => "mdl-list__item-avatar"%><span class="mdl-list__item-primary-content"><a href="http://www.brandeis.edu/publicsafety/bemco/index.html">BEMCo</a></span><div class="padded">The Brandeis University Medical Corps (BEMCo) is Brandeis’ student-run volunteer emergency medical service. BEMCo strives to provide timely and efficient emergency medical care to the Brandeis community. Today, under the guidance of the Director of Public Safety and the director of the University Health Center, BEMCo continues to meet the emergency medical needs of the community.
            TO CONTACT BEMCO DIAL: 781-736-3333</div></li>
            <li></li>
            <li class="mdl-list__item mdl-list__item--three-line"><i class="material-icons mdl-list__item-icon">report</i><span class="mdl-list__item-primary-content"><a href="http://www.brandeis.edu/rape-crisis-center/">RCC</a></span><div class="padded">The Brandeis Rape Crisis Center provides direct support to members of the Brandeis community impacted by sexual violence and works to bring about a campus climate in which sexual violence is unacceptable.
            Call 781-736-3370</div></li>
            <li class="mdl-list__item mdl-list__item--three-line"><%=image_tag ('SSISlogo.jpg'), :class => "mdl-list__item-avatar"%><span class="mdl-list__item-primary-content"><a href="http://people.brandeis.edu/~ssis/Site/index.html">SSIS</a></span><div class="padded">The Student Sexuality Information Service (SSIS) has been an integral part of Brandeis’s campus since 1973. SSIS is a unique, on campus, for students by students, resource that aims to cultivate a safe, sex-positive community while satisfying every Brandeisian’s sexual health needs. Along with a comprehensive library, an array of superior quality safer sex and sexploration products, SSIS provides a confidential peer counseling service. Call (781)-736-3695</div></li>
            <li class="mdl-list__item mdl-list__item--three-line"><%=image_tag ('QRClogo.png'), :class => "mdl-list__item-avatar"%><span class="mdl-list__item-primary-content"><a href="https://qrcbrandeis.weebly.com/">QRC</a></span><div class="padded">The Queer Resource Center (QRC) is a student run organization that strives to provide support, education, outreach, and advocacy for all members of the Brandeis undergraduate community.  QRC Staffers receive training in supporting and counseling people of all identities including but not limited to Trans (the Transgender umbrella), Lesbian, Gay, Bisexual, Asexual, Queer, Intersex, BDSM, Kink, Polyamory, and Allies.  We also provide services surrounding intersectionality, privilege and oppression, domestic violence, sexual assault, suicide prevention, self-harm, and sexual health.  We are committed to making Brandeis a safe space for students of all genders, sexualities, and identities through confidential peer counseling, educational outreach programs, resources and referrals.</div></li>
            <li class="mdl-list__item mdl-list__item--three-line"><i class="material-icons mdl-list__item-icon">star</i><span class="mdl-list__item-primary-content"><a href="https://sites.google.com/a/brandeis.edu/club-star/">STAR</a></span><div class="padded">STAR (Students Talking About Relationships) provides a face-to-face peer counseling resource for the Brandeis community. All STAR counselors are trained by professionals on topics including but not limited to general counseling skills, campus resources and procedures, domestic and dating violence, rape crisis and sexual assault, pregnancy options and STD/STIs, alcohol and drugs, eating disorders and body image, gay, lesbian, bisexual, and transgender topics, religion, mental health, and suicide and self-harm. In addition to peer-counseling, STAR executes events related to mental health, self-care and stress relief such as STAR Study Break as well as events such as Take Back the Night related to sexual violence, relationship, and other topics.</div></li>
        </ul>
    </div>
  </main>
</div>

<!-- <div id = "load">
  <%= render :partial => "shared/loading" %>
</div> -->

<!-- <div class="col-sm-3 sidenav">
<ul class="nav nav-pills nav-stacked">
  <li><a class="tablinks" onclick="showTabContent(event, 'emer_lvl')">Emergency Level</a></li>
  <li><a class="tablinks" onclick="showTabContent(event, 'pain_lvl')">Pain Chart</a></li>
  <li><a class="tablinks" onclick="showTabContent(event, 'clinic_lst')" id="defaultOpen">List of Nearby Clinics</a></li>
  <li><a class="tablinks" onclick="showTabContent(event, 'group_lst')">List of Student Groups</a></li>
  <li><a class="tablinks" onclick="showTabContent(event, 'events')">Events</a></li>

  <li><a href="#section1">Timeline</a></li>
  <li><a href="#section2">Symptoms</a></li>
  <li><a href="#section3">Reminders</a></li>
</ul>
</div>
<div class="col-sm-9" id = "contents">
	<div id = "emer_lvl" class = "tabcontent">
		<%= render file: "./static_pages/emergency_level" %>
	</div>
	<div id = "pain_lvl" class = "tabcontent">
		<%= image_tag('pain_chart.gif')%>
	</div>
	<div id = "clinic_lst" class = "tabcontent">
		<%= render file: "./static_pages/clinic_lst" %>
	</div>
  <div id = "group_lst" class = "tabcontent">
    <%= render file: "./static_pages/stu_groups_lst" %>
  </div>
  <div id = "events" class = "tabcontent">
    <%= render file: "./static_pages/events" %>
  </div>
</div> -->
<%= javascript_include_tag 'resources' %>
<script>
  $(document).ready(
    function () {
        $("#contents").hide();
        if (window.location.hash.substring(1)=="events"){
            document.getElementById("eventsOpen").click();
        }else{
            document.getElementById("defaultOpen").click();
        }
    }
  );
</script>
<style>
  .padded{
      padding: 2%;
  }
  a:hover, a:visited, a:link, a:active{
    text-decoration: none;
  }
  .demo-navigation {
    flex-grow: 1;
  }
  .demo-layout .demo-navigation .mdl-navigation__link {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
  }
  .demo-layout .demo-navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #FFFFFF;
    border-bottom: 0px
  }
  .demo-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 12px;
  }
</style>
