<h4>Resources</h4>
<div class="col-sm-3 sidenav">
<ul class="nav nav-pills nav-stacked">
  <li><a class="tablinks" onclick="showTabContent(event, 'emer_lvl')">Emergency Level</a></li>
  <li><a class="tablinks" onclick="showTabContent(event, 'pain_lvl')">Pain Chart</a></li>
  <li><a class="tablinks" onclick="showTabContent(event, 'clinic_lst')" id="defaultOpen">List of Nearby Clinics</a></li>
  <li><a class="tablinks" onclick="showTabContent(event, 'group_lst')">List of Student Groups</a></li>
  <li><a class="tablinks" onclick="showTabContent(event, 'events')">Events</a></li>

  <li><a href="#section1">Timeline</a></li>
  <li><a href="#section2">Symptoms</a></li>
  <li><a href="#section3">Reminders</a></li>
</ul>
</div>
<div class="col-sm-9" id = "contents">
	<div id = "emer_lvl" class = "tabcontent">
		<%= render file: "./static_pages/emergency_level" %>
	</div>
	<div id = "pain_lvl" class = "tabcontent">
		<%= image_tag('pain_chart.gif')%>
	</div>
	<div id = "clinic_lst" class = "tabcontent">
		<%= render file: "./static_pages/clinic_lst" %>
	</div>
  <div id = "group_lst" class = "tabcontent">
    <%= render file: "./static_pages/stu_groups_lst" %>
  </div>
  <div id = "events" class = "tabcontent">
    <%= render file: "./static_pages/events" %>
  </div>
</div>
<%= javascript_include_tag 'resources' %>