<tr>
  <td><%= visit.time %></td>  
  <td id="tt-<%=visit.id%>" style="cursor: pointer"><%= visit.vtype %></td>
  <td>
    <%= button_to visit, method: :delete, class:"mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" do %>
      <i class="material-icons">close</i>
    <% end %>
  </td>
</tr>

<!-- Enter tooltip contents (i.e. linked symptoms/logs) in this div: -->
<div class="mdl-tooltip mdl-tooltip--large" for="tt-<%= visit.id %>">
  <% @vid = visit.id %>
  <% @sid = Log.all.where(:user_id => current_user.id, :visit_id => @vid ).distinct(:symptom_id).pluck(:symptom_id)%>
  <% @sid.each do |s|%>
  	<p>You treated  <strong style="color:red"><%= Symptom.find(s).name %></strong> by this visit.</p>
  <% end %>
</div>
