<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @visit.vtype %>
</p>

<p>
  <strong>Time:</strong>
  <%= @visit.time %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
