<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- <div class="glyphicon glyphicon-camera" id="image-output",:onclick="upload_it(event)"></div> -->
  <%= form.file_field :picture ,:onchange=>"loadFile(event)",id: "change_picture", class: "hide_input" %>


  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.label :name, class: "mdl-textfield__label" %>
    <%= form.text_field :name, id: :user_name, class: "mdl-textfield__input" %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.label :email, class: "mdl-textfield__label" %>
    <%= form.text_field :email, id: :user_email, class: "mdl-textfield__input" %>
  </div>

  <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.label :password, class: "mdl-textfield__label" %>
    <%= form.text_field :password_digest, id: :password_digest, class: "mdl-textfield__input" %>
  </div> -->
  <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
      <select class="mdl-selectfield__select" id="sym-filter" name="plan_id">
          <% Plan.all.each do |plan| %>
              <option value= <%= plan.id %>> <%= plan.name.capitalize %></option>
          <% end %>
      </select>
      <label class="mdl-selectfield__label" for="sym-filter">Plan</label>
  </div>


  <div class="actions">
    <%= form.submit class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--primary' %>
  </div>
<% end %>
