<!-- <p id="notice"><%= notice %></p> -->

<% provide(:title, @user.name) %>
<div class="row">
  <button type="button" class="btn btn-default"><%= link_to 'Back', users_path %></button>
  </br>
</div>

</br></br>
<div class="row">

      <div class = "col-md-4">
        <%= image_tag("default_prof_pic.png", :alt => "img missing", :size => "125", :id => "logo") if not @user.picture? %>
        <%= image_tag @user.picture.url if @user.picture? %>
        </br></br>
        <%= form_for(@user) do |f| %>
            <%= f.label "Edit Profile Picture:"%>
            <span class="picture">
              <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
            </span></br>
            <%= f.submit "Upload Picture", class: "btn btn-primary" %>
          <% end %>
      </div>
      <div class = "col-md-8">
        <h4>
          <strong><%= @user.name %></strong>
          <p><%= @user.email %></p>

          <p><strong>Plans:</strong></p>
          <p><%@user.plans.all.each do |plan|%>
             <p>Name:
             <%= plan.name %>
             <%=link_to 'Show', plan_path(plan)%></p>
          <%end%></p>
          <p><%= link_to 'Create New Plan', new_plan_path%>
          <p><%= link_to 'Edit', edit_user_path(@user) %> |
          <%= link_to 'Delete', @user, method: :delete, data: { confirm: "You sure?" } %></p>

          
        </h4>
      </div>
</div>


<p id="notice"><%= notice %></p>
