<%= form_with(model: facility, local: true) do |form| %>
  <% if facility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(facility.errors.count, "error") %> prohibited this facility from being saved:</h2>

      <ul>
      <% facility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :facility_name %>
  </div>

  <div class="field">
    <%= form.label :specialty %>
    <%= form.text_field :specialty, id: :facility_specialty %>
  </div>

  <div class="field">
    <%= form.label :open_hour %>
    <%= form.text_field :open_hour, id: :facility_open_hour %>
  </div>

  <div class="field">
    <%= form.label :contact_id %>
    <%= form.number_field :contact_id, id: :facility_contact_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
