<% if logged_in? %>

  <%= image_tag("default_prof_pic.png", :alt => "img missing", :size => "125", :id => "logo") if !@user.picture? %>
  <%= image_tag @user.picture.url if @user.picture? %>
    
  <h4 id="name">
    <%= @user.name %>
    <%= link_to edit_user_path(current_user) do %>
        <span class="mdl-list__item-primary-content">
	  <i class="material-icons mdl-list__item-icon" id="edit">mode_edit</i>
        </span>
    <% end %>
  </h4>	
  <p>
    <%@user.plans.all.each do |plan|%>
      <div id="tt1"><%=link_to plan.name, plan_path(plan), class:"mdl-button mdl-js-button"%></div>
      <div class="mdl-tooltip" data-mdl-for="tt1">Click here to access the copay calculator for this plan</div>
    <% end %>
  </p>

  <%= button_to "Log out", logout_path, method: :delete, class: " mdl-button mdl-js-button mdl-button--raised mdl-button--primary" %>
    
<% else %>

  <div class="alert alert-danger">
    Please <strong>sign in</strong> to view more.
  </div>

  <%= button_to "Sign in", load_login_path, :method => "post", class: " mdl-button mdl-js-button mdl-button--raised mdl-button--primary", id: "sign_in_button", :remote => true %>
  <p class="text-primary">New user? <%= link_to "Sign up now!", signup_path %></p>

<% end %>
