<div class="row">
	<div class = "class profile">


		<div class="jumbotron">
			<center><h1>Health Decoder</h1>
			</br></center>
		</div>
		<% if logged_in? %>
			<div class="alert alert-success">You are logged in as <strong><%= current_user.name%> </strong>.</div>

			<%= render file: '/static_pages/log' %> <br />
			<br />
			<br />
			<center><button type="button" class="btn btn-success btn-block"><%= link_to "Log out", logout_path, method: :delete %></button></center> <br />
		<% else %>
			<div class="alert alert-danger">Please <strong>sign in </strong>to view more.</div>
			<center><button type="button" class="btn btn-primary btn-block"><%= link_to "Sign in", login_path %></button></center>
				<center><p class="text-primary">New user? <%= link_to "Sign up now!", signup_path %></p></center>
		<% end %>

		<center><button type="button" class="btn btn-danger btn-block">Emergency Diagnosis</button></center>
	</div>
	<hr>
</div>
