  <!-- <div class = "class profile">
    <div >
      <% if logged_in? %>
      <div class="alert alert-success">You are logged in as <strong><%= current_user.name%></strong>.</div>

      <section class="large-title" >
	         <h1>Health Decoder</h1>
      </section>
    </div> -->

<!-- <<<<<<< HEAD
======= -->
    <div class="col-lg-12">
      <% if logged_in? %>
    	<br />
    	<br />
<!-- >>>>>>> 3a5287875dae2ac88fe1d047a376c33da67292f8 -->

<br />
	<br />
        <div id="welcome-buttons">
          <%= button_to "Log out", logout_path, method: :delete, class: " mdl-button mdl-js-button mdl-button--primary" %>

      <% else %>
        <div class="alert alert-danger">
	  Please <strong>sign in </strong>to view more.
	</div>
	<div id="welcome-buttons">
	  <%= button_to "Sign in", login_path, :method => "get", class: " mdl-button mdl-js-button mdl-button--primary" %>
	  <p class="text-primary">New user? <%= link_to "Sign up now!", signup_path %></p>
      <% end %>
      <%= button_to "Quick Diagnosis", body_diagram_path, :method => "get", class: " mdl-button mdl-js-button mdl-button--accent" %>
    </div>

</div>

<div class="chart-container" style="position: relative; height:20vh; width:40vw">
    <%= render 'layouts/chart' %>
    <%= render 'layouts/chart2' %>
</div>
