<br />
<div id="user-profile-holder" class="col-lg-3" style="text-align:center">
  <%=render "home/profile" %>
</div>
<!-- google login -->
<!-- <div>
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
</div> -->
<div class="col-lg-9" id="card-container">
  <% if not logged_in? %>
    <div class="welcome-row">
      <%=render "home/welcome_card" %>
    </div>
    <div class="section-spacer"></div><br/>
  <% end %>

  <div class="row">
    <!-- Quick Diagnosis -->
    <div class="col-md-4" id="diagnosis">
      <%=render "home/card", :locals => {:title => 'Quick Diagnosis' , :content => 'diagnosis', :button =>'Start Diagnosis'} %>
    </div>
    <!-- Upcoming Event -->
    <div class="col-md-4" id="event">
      <%=render "home/card", :locals => {:title => 'Upcoming Events' , :content => 'events', :button => 'More Events'} %>
    </div>
    <!-- Log -->
    <% if logged_in? %>
      <div class="col-md-4" id="log">
        <%=render "home/card", :locals => {:title => 'Symptom Logs' , :content => 'logs', :button =>'View Logs'} %>
      </div>
    <% else %>
      <div class="col-md-4" id="resources">
        <%=render "home/card", :locals => {:title => 'Emergency Contacts' , :content => 'contact', :button =>'View More Recourses'} %>
      </div>
    <% end %>
  </div>

  <% if logged_in? %>
  <%= puts current_user.logs.count != 0%>
   <% if current_user.logs.count != 0 %>
    <div class="row">
      <div class="col-md-4" >
        <%= render 'layouts/chart' %>
      </div>
      <div class="col-md-8" >
        <%= render 'layouts/chart2' %>
      </div>
    </div>
    <%end%>
  <% end %>

</div>

<script>
  // set card height
  var cw = $('.demo-card-square.mdl-card').width();
  $('.demo-card-square.mdl-card').css({
      'height': 0.8* cw + 'px'
  });
  $('#diagnosis').on('click', function(){
     window.location = "/body-diagram";
  });
  $('#event').on('click', function(){
     window.location = "/resources"+'#'+"events";
  });

  $('#log').on('click', function(){
     window.location = "/logs";
  });
  $('#resources').on('click', function(){
     window.location = "/resources";
  });

</script>

<style>
#card-container .section-spacer {
  flex-grow: 3;
}
</style>
