<br /><br />
<div class="col-lg-3" style="text-align:center">
  <%=render "home/profile" %>
</div>

<div class="col-lg-9" id="card-container">
  <% if not logged_in? %>
    <div class="welcome-row">
      <%=render "home/welcome_card" %>
    </div>
    <div class="section-spacer"></div>
  <% end %>
  
  <div class="row">
    <!-- Quick Diagnosis -->
      <div class="col-md-4" id="diagnosis">
        <%=render "home/card" %>
      </div>
    <!-- Upcoming Event -->
    <div class="col-md-4" id="event">
      <%=render "home/card"%>
    </div>
    <!-- Log -->
    <div class="col-md-4" id="log">
      <%=render "home/card"%>
  </div>

   <div class="row">
        <div class="col-md-4" >

          <%= render 'layouts/chart' %>
        </div>
        <div class="col-md-8" >
          <%= render 'layouts/chart2' %>
        </div>
    </div>
</div>

<script>
  // set card height
  var cw = $('.demo-card-square.mdl-card').width();
  $('.demo-card-square.mdl-card').css({
      'height': 0.8* cw + 'px'
  });
  // change card content
  $('#diagnosis .mdl-card__title-text').html("Quick Diagnosis");
  $('#diagnosis .mdl-card__supporting-text').html("Self Diagnosis! <br/> NON EMERGENCY ONLY.");
  $('#diagnosis .mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect').html("Start Diagnosis");
  $('#diagnosis').on('click', function(){
     window.location = "/body-diagram";
  });

  $('#event .mdl-card__title-text').html("Upcoming Events");
  $('#event .mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect').html("More Events");
  $('#event .mdl-card__supporting-text').html('<% @events.each do |event| %><tr><td><%= raw event[:date] %></td><td><%= event[:title] %></td></tr><% end%>');
  $('#event').on('click', function(){
     window.location = "/resources";
  });

  $('#log .mdl-card__title-text').html("Symptom Logs");
  // $('#log .mdl-card__supporting-text').html('<% @results.distinct(:symptom_id).pluck(:symptom_id).each do |id| %><%= Symptom.find(id).name.capitalize %> | <% end%>');

  $('#log .mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect').html("View Logs");
  $('#log').on('click', function(){
     window.location = "/logs";
  });

</script>

<style>
#card-container .section-spacer {
  flex-grow: 3;
}
</style>


