<p id="notice"><%= notice %></p>

<h1>Diseases</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Body Parts</th>
      <th>Symptoms</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @diseases.each do |disease| %>
    <tr>
        <td><%= disease.id %></td>
        <td><%= disease.name %></td>
	<td>
	  <%= disease.body_parts.each do |bp| %>
	    <p><%= bp.name %></p>
	  <% end %>
	</td>
	<td>
	  <%= disease.symptoms.each do |symptom| %>
	    <p><%= symptom.name %></p>
	  <% end %>
	</td>	
        <td><%= link_to 'Show', disease %></td>
        <td><%= link_to 'Edit', edit_disease_path(disease) %></td>
        <td><%= link_to 'Destroy', disease, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
