<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :contact_phone %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street, id: :contact_street %>
  </div>

  <div class="field">
    <%= form.label :street2 %>
    <%= form.text_field :street2, id: :contact_street2 %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :contact_state %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :contact_country %>
  </div>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, id: :contact_zipcode %>
  </div>

  <div class="field">
    <%= form.label :fax %>
    <%= form.text_field :fax, id: :contact_fax %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
