<p id="notice"><%= notice %></p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Street:</strong>
  <%= @contact.street %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @contact.street2 %>
</p>

<p>
  <strong>State:</strong>
  <%= @contact.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @contact.country %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @contact.zipcode %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @contact.fax %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
