<div id="log-history-container" class="mdl-color-text--grey-600">
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    
    <div id="log-history-switch" class="mdl-tabs__tab-bar mdl-shadow--2dp mdl-card__title">
      <a href="#symptoms-panel" class="mdl-tabs__tab is-active">Symptoms</a>
      <a href="#visits-panel" class="mdl-tabs__tab">Visits</a>
    </div>
  
    <div class="mdl-tabs__panel is-active" id="symptoms-panel">
      <div id="log-history-menu" class="mdl-shadow--2dp mdl-card__title">
	<%= render partial: "log_header_history_symptom" %>
      </div>
      <div class="tabcontent mdl-shadow--2dp new-log-container newLog" style="background:aliceblue">
        <%= render "new" %>
      </div>
      <div id="log-history-table">
	<%= render partial: "log_table" %>
	<div class="printer-friendly-table">
	  <%= render partial: "printer_friendly_log_table" %>
	</div>
      </div>
    </div>
    
    <div class="mdl-tabs__panel" id="visits-panel">
      <div id="log-history-menu" class="mdl-shadow--2dp mdl-card__title">
	<%= render partial: "log_header_history_visits" %>
      </div>
      <div class="tabcontent newVisitLog mdl-shadow--2dp" style="background:aliceblue">
        <%= render "visits_add" %>
      </div>      
      <div id="log-history-table">
        <%= render partial: "visits" %>
      </div>
    </div>
    
  </div>
</div>
