<!-- Submit form for new symptom log -->
<%= form_for(@log) do |f| %>
  <h4>New Symptom</h4>

  <%= f.label :symptom_id %>
  <select class="selectpicker" title="Symptom" id="sym-filter" name="symptom_id" data-live-search="true" data-width="fit">
    <% @symptoms.each do |sym| %>
      <option value= <%= sym.id %>> <%= sym.name.capitalize %></option>
    <% end %>
  </select>

    <!-- Severity slide ruler -->
    <%= f.label :severity %> <span id="score">5</span>
    <input class="mdl-slider mdl-js-slider" type="range" min="0" max="10" value="5" tabindex="0" id="slider1" name="log[severity]">

    <!-- Submit button -->
    <%= submit_tag "Save", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
<% end %>
