<div class="log-submit-container">
  <h3>New Log</h3>
  
  <!-- Health log submit form -->  
  <%= form_for(@log) do |f| %>

    <!-- Symptom dropdown -->
    <div class="log-controls">
      <span id="symptom-control-label">
        <%= f.label :symptom_id %>
      </span>
      <select class="selectpicker" title="What is your symptom?" id="sym-filter" name="symptom_id" data-live-search="true">
        <% @symptoms.each do |sym| %>
          <option value= <%= sym.id %>> <%= sym.name.capitalize %></option>
        <% end %>
      </select>
    </div> <!-- /symptom dropdown -->

    <!-- Severity slide ruler -->
    <div class="log-controls">
      <span id="severity-label">
        <%= f.label :severity %> <span id="score">5</span>
      </span>
      <span id="severity-range">
        <%= f.range_field :severity, :min=>0, :max=>10, :class=>"slide", :id=>"slider1" %>
      </span>
    </div> <!-- /severity slide ruler -->

    <!-- Submit button -->
    <div class="log-controls">
      <span id="btn-invisible-label">.</span>
        <%= submit_tag "Record Log", class: "btn btn-large btn-primary" %>
      </span>
    </div> <!-- /submit button -->

  <% end %>
</div>
