<div style="background-color: #e6fff">
<%= simple_form_for @visit do |f| %>
	<%= f.label "Visit Time" %>
	
	<%= f.input :time, 	label: false,
						as: :date, 
						start_year: Date.today.year - 10,
                        end_year: Date.today.year, 
                        order: [:month, :day, :year]%>
	<%= f.label 'Visit Type' %>
	<span style="margin-left: 180px">
		<%= f.label 'Symptoms' %>
	</span>
	</br>
	<select class="selectpicker" data-width="fit" title="Visit Type" id="action-picker" name="vtype" data-turbolinks="false">
		<option value= "Pill">Pill</option>
		<option value= "Clinic">Clinic</option>
		<option value= "Doctor">Doctor</option>
		<option value= "Time">Time</option>
	</select>
	<span style="margin-left: 100px">
		<select class="selectpicker" data-width="fit" multiple title="Symptoms treated" id="visit_symp" name="symptom_id" data-turbolinks="false">
			<% @results.distinct(:symptom_id).pluck(:symptom_id).each do |id| %>
			  <option value= <%= id %>> <%= Symptom.find(id).name.capitalize %></option>
			<% end %>
		</select>
	</span>
	<span style="margin-left: 100px">
	    <%= f.submit 'Add Visit' , class: "btn btn-large btn-primary"%>
	</span>
<% end %>
</div>