<div class="row">
  <% if logged_in? %>
 <!-- Logs sidebar with search -->
    <div class="col-sm-4 sidenav">
      <div>
        
        
        <!-- Logs display table -->
        <h3>Log History</h3>
        <div calss="log_table">
          <%= render "log_search_bar" %>
          <%= render "log_table" %>
        </div>  
      </div>

      <div class = "visits">
        <h3> Visits </h3>
        <%= render "visit_table" %>
        
      </div>
    </div>
    <!-- /logs sidebar -->
    <!-- Calendar table -->
    <div class="col-sm-8">
      <div class="tab">
        <button class="tablinks" onclick="newEntry(event, 'newLog')" id="defaultOpen"><Strong>New Log</Strong></button>
        <button class="tablinks" onclick="newEntry(event, 'newVisit')"><Strong> New Visit </Strong></button>
      </div>

      <div id="newLog" class="tabcontent">
        <%= render "new" %>
      </div>

      <div id="newVisit" class="tabcontent">
        <%= render "visits_add" %> 
      </div>
      </br>
      <div class = "col-sm-12">
        <%= render "calendar" %>
      </div>
    </div><!-- /calendar -->
  </div> <!-- /row -->
<% else %>
  <div class="alert alert-danger">You need to <strong>sign in</strong> to view your log history.</div>
    <%= link_to "Sign in", login_path, class: "btn btn-primary btn-block" %>
  <center>
    <p class="text-primary">New user? <%= link_to "Sign up now!", signup_path %></p>
  </center>
<% end %>

<%= javascript_include_tag 'slider'%>

<script>
  // $('.selectpicker').selectpicker('refresh');
  $(document).on('turbolinks:load', function () {
    $('.selectpicker').each(function (i, el) {
      if (!$(el).parent().hasClass('bootstrap-select')) {
        $(el).selectpicker('refresh');
      }
    });
  });

  function newEntry(evt, typeName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(typeName).style.display = "block";
    evt.currentTarget.className += " active";
    
  }
  document.getElementById("defaultOpen").click();
</script>

<style>
  /* Style the tab */
  div.tab {
      overflow: hidden;
      background-color: #ffffff;
  }

  /* Style the buttons inside the tab */
  div.tab button {

      background-color: #f1f1f1;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 10px 20%;
      transition: 0.3s;
  }

  /* Change background color of buttons on hover */
  div.tab button:hover {
      background-color: #99ccff;
  }

  /* Create an active/current tablink class */
  div.tab button.active {
      color: white;
      
      background-color: #548abe;
  }

  /* Style the tab content */
  .tabcontent {
      display: none;
      padding: 10px 10px;
      background-color: aliceblue;
  }
  .tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }

  @-webkit-keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
  }

  @keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
  }
</style>