<% if not current_user %>
  <div class="alert alert-danger">Please log in to view and record logs.</div>
  <%= render file: "./sessions/new.html.erb" %>
<% else %>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col for-log-dropdown-override">
      <%= render partial: 'log_history' %>
    </div>
    <div class="mdl-cell mdl-cell--8-col white-bg">
      <%= render "calendar" %>
    </div>
  </div>
<% end %>

<%= javascript_include_tag 'slider'%>
<%= javascript_include_tag 'log_index'%>
