<div class="row">
  <% if logged_in? %>
 <!-- Logs sidebar with search -->
    <div class="col-sm-4 sidenav">
      <div style="background-color: #fffae6">
        
        
        <!-- Logs display table -->
        <h3>Log History</h3>
        <div class="log_table">
          <%= render "log_search_bar" %>
          <%= render "log_table" %>
          <button class="btn btn-outline-info" onclick="newEntry(event, 'newLog')" id="defaultOpen"><Strong>New Log</Strong></button>
        </div>  
      </div>

      <div class = "visits" style="background-color: #e6fff2">
        <h3> Visits </h3>
        <%= render "visit_table" %>
        <button class="btn btn-outline-info" onclick="newEntry(event, 'newVisit')"><Strong> New Visit </Strong></button>
        
      </div>
    </div>
    <!-- /logs sidebar -->
    <!-- Calendar table -->
    <div class="col-sm-8">
      <div class="tab">
        <button class="tablinks" onclick="newEntry(event, 'newLog')" id="defaultOpen"><Strong>New Log</Strong></button>
        <button class="tablinks" onclick="newEntry(event, 'newVisit')"><Strong> New Visit </Strong></button>
      </div>

      <div id="newLog" class="tabcontent">
        <%= render "new" %>
      </div>

      <div id="newVisit" class="tabcontent">
        <%= render "visits_add" %> 
      </div>
      </br>
      <div class = "col-sm-12">
        <%= render "calendar" %>
      </div>
    </div><!-- /calendar -->
  </div> <!-- /row -->
<% else %>
  <div class="alert alert-danger">You need to <strong>sign in</strong> to view your log history.</div>
    <%= link_to "Sign in", login_path, class: "btn btn-primary btn-block" %>
  <center>
    <p class="text-primary">New user? <%= link_to "Sign up now!", signup_path %></p>
  </center>
<% end %>

<%= javascript_include_tag 'slider'%>
<%= javascript_include_tag 'log_index'%>

<script>
  $(document).ready(function(){
    document.getElementById("defaultOpen").click();
  })
</script>


<style>
  /* Style the tab */
  div.tab {
      overflow: hidden;
      background-color: #ffffff;
  }

  /* Style the buttons inside the tab */
  div.tab button {

      background-color: #f1f1f1;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 10px 20%;
      transition: 0.3s;
  }

  /* Change background color of buttons on hover */
  div.tab button:hover {
      background-color: #99ccff;
  }

  /* Create an active/current tablink class */
  div.tab button.active {
      color: white;
      
      background-color: #548abe;
  }

  /* Style the tab content */
  .tabcontent {
      display: none;
      padding: 10px 10px;
      background-color: aliceblue;
  }
  .tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }

  @-webkit-keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
  }

  @keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
  }
</style>