<% if not current_user %>
  <%= render partial: "static_pages/no_login" %>
<% else %>

<!-- Logs sidebar with search -->
<div class="col-sm-4 sidenav">
  <div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
    <div class="mdl-card something-else mdl-cell--12-col-desktop mdl-shadow--2dp">
      <%= render partial: "log_history" %>
    </div>
  </div>

  <div class = "visits" style="background-color: #e6fff2" style="display:none">
    <h3>Visits</h3>
    <%= render "visit_table" %>
    <button class="btn btn-outline-info" onclick="newEntry(event, 'newVisit')">
      <strong>New Visit</strong>
    </button>
  </div>
</div><!-- /logs sidebar -->

<!-- Calendar table -->
<div class="col-sm-8">
  <div class="tab">
    <button class="tablinks" onclick="newEntry(event, 'newLog')" id="defaultOpen">
      <strong>New Log</strong>
    </button>
    <button class="tablinks" onclick="newEntry(event, 'newVisit')">
      <strong>New Visit</strong>
    </button>
  </div>
  <div id="newLog" class="tabcontent">
    <%= render "new" %>
  </div>
  <div id="newVisit" class="tabcontent">
    <%= render "visits_add" %>
  </div>
  <div class = "col-sm-12">
    <%= render "calendar" %>
  </div>
</div><!-- /calendar -->

<% end %>

<%= javascript_include_tag 'slider'%>
<%= javascript_include_tag 'log_index'%>

<script>
  $(document).ready(function(){
    document.getElementById("defaultOpen").click();
  })


  function printData(){
     var divToPrint=document.getElementById("printTable");
     newWin= window.open("");
     newWin.document.write(divToPrint.outerHTML);
     newWin.print();
     newWin.close();
  }
</script>


<!-- DELETE ME -->


  <div style="background-color: #fffae6" style="display:none">
    <!-- Logs display table -->
    <!--
    <h3>Log History</h3>
    
    <div class="log_table">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
	<label class="mdl-button mdl-js-button mdl-button--icon" for="search">
	  <i class="material-icons">search</i>
	</label>
	<div class="mdl-textfield__expandable-holder">
	  <input class="mdl-textfield__input" type="text" id="search">
	  <label class="mdl-textfield__label" for="search">Enter your query...</label>
	</div>
      </div>
      <div style="display:none"><%= render "printer_friendly_log_table" %></div>
      <button class="btn btn-outline-info" onclick="newEntry(event, 'newLog')" id="defaultOpen">
	<strong>New Log</strong>
      </button>
      <!-- <%=link_to "<button class='btn btn-outline-info'><Strong>Print</Strong></button>".html_safe, print_path%> -->
      <!--
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" data-upgraded=",MaterialButton,MaterialRipple">
	<i class="material-icons" onclick="printData()">printer</i>
        <span class="mdl-button__ripple-container" onclick="printData()">
          <span class="mdl-ripple is-animating" style="width: 92.5097px; height: 92.5097px; transform: translate(-50%, -50%) translate(13px, 17px);">
          </span>
        </span>
      </button>
      <i class="material-icons" onclick="printData()" >printer</i>
      <div class="row"></div>
    </div>--> <!-- /log_table -->
      
    </div> <!-- /display none div -->
