<p id="notice"><%= notice %></p>

<h1>Logs</h1>
<% if logged_in? %>
   <div class="row">
      <div class="col-sm-3 sidenav">
        <h4>Your Log</h4>
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#section1">Timeline</a></li>
          <li><a href="#section2">Symptoms</a></li>
          <li><a href="#section3">Reminders</a></li>
          <li><a href="#section3">Create New Log</a></li>
        </ul><br>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Log..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
        <div calss="calendar">
          <%= month_calendar do |date| %>
            <%= date.day %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-9">
        <table class = "table table-striped">
          <thead>
            <tr>
              <th>Symptom</th>
              <th>Severity</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @logs.each do |log| %>
              <tr>
                <td><%= Symptom.find(log.symptom_id).name %></td>
                <td><%= log.severity %></td>
                <td><%= link_to 'Edit', edit_log_path(log) %></td>
                <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="container">
          <% render file: 'logs/new'%>
        </div>
        <%= link_to 'New Log', new_log_path, class: "btn btn-large btn-primary"%>

      </div>
  <!--   </body> -->
  </div>
<% else %>
  <div class="alert alert-danger">Please <strong>sign in </strong>to view more.</div>
  <center><button type="button" class="btn btn-primary btn-block"><%= link_to "Sign in", login_path %></button></center>
  <center><p class="text-primary">New user? <%= link_to "Sign up now!", signup_path %></p></center>
<% end %>


<br>
