<% if not current_user %>
  <%= render partial: "static_pages/no_login" %>
<% else %>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col for-log-dropdown-override">
      <%= render partial: 'log_history' %>
    </div>
    <div class="mdl-cell mdl-cell--8-col">
      <%= render "calendar" %>
    </div>
  </div>
<% end %>

<%= javascript_include_tag 'slider'%>
<%= javascript_include_tag 'log_index'%>

<!-- !!!! DELETE ME !!!! -->
  <div style="background-color: #fffae6" style="display:none">
    <!-- Logs display table -->
    <!--
    <h3>Log History</h3>
    
    <div class="log_table">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
	<label class="mdl-button mdl-js-button mdl-button--icon" for="search">
	  <i class="material-icons">search</i>
	</label>
	<div class="mdl-textfield__expandable-holder">
	  <input class="mdl-textfield__input" type="text" id="search">
	  <label class="mdl-textfield__label" for="search">Enter your query...</label>
	</div>
      </div>
      <div style="display:none"><%= render "printer_friendly_log_table" %></div>
      <button class="btn btn-outline-info" onclick="newEntry(event, 'newLog')" id="defaultOpen">
	<strong>New Log</strong>
      </button>
      <!-- <%=link_to "<button class='btn btn-outline-info'><Strong>Print</Strong></button>".html_safe, print_path%> -->
      <!--
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" data-upgraded=",MaterialButton,MaterialRipple">
	<i class="material-icons" onclick="printData()">printer</i>
        <span class="mdl-button__ripple-container" onclick="printData()">
          <span class="mdl-ripple is-animating" style="width: 92.5097px; height: 92.5097px; transform: translate(-50%, -50%) translate(13px, 17px);">
          </span>
        </span>
      </button>
      <i class="material-icons" onclick="printData()" >printer</i>
      <div class="row"></div>
    </div>--> <!-- /log_table -->
      
    </div> <!-- /display none div -->
