<%= form_with(model: plan, local: true) do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :plan_name %>
  </div>

  <div class="field">
    <%= form.label :coinsurance %>
    <%= form.text_field :coinsurance, id: :plan_coinsurance %>
  </div>

  <div class="field">
    <%= form.label :outpatient_copay %>
    <%= form.number_field :outpatient_copay, id: :plan_outpatient_copay %>
  </div>

  <div class="field">
    <%= form.label :inpatient_copay %>
    <%= form.number_field :inpatient_copay, id: :plan_inpatient_copay %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
