<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Coinsurance:</strong>
  <%= @plan.coinsurance %>
</p>

<p>
  <strong>Outpatient Copay:</strong>
  <%= @plan.outpatient_copay %>
</p>

<p>
  <strong>Inpatient Copay:</strong>
  <%= @plan.inpatient_copay %>
</p>

<%= form_tag(controller: "plans", action: "calculate", id: "cal-form") do%>
    <%= hidden_field_tag(:id, @plan.id)%>
    <%= label_tag(:deductibletag, "Remaining Deductible")%>
    <%= number_field_tag(:deductible)%>
    <%= label_tag(:pricetag, "Price of Service")%>
    <%= number_field_tag(:price)%>
    <%= radio_button_tag(:inpatient, true)%>
    <%= label_tag(:yesinpatient, "This is an inpatient service")%>
    <%= radio_button_tag(:inpatient, false)%>
    <%= label_tag(:noinpatient, "This is an outpatient service")%>
    <%= submit_tag("Calculate")%>
<%end%>

<strong>Out Of Pocket Pay:<p id="out-pocket-pay">Need to be calculated.</p></strong>

<script>
  $("#cal-form").on('submit', function(e) {
     e.preventDefault();
     var newValue = ;
     $("#out-pocket-pay").html(newValue);
  });
</script>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plan_path %>
