<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <center>
      <h1>Self Diagnosis Tool</h1>
      <p><strong>This diagnosis tool is for non-emergency services only.</strong>  In the event of an emergency call 911 or campus public safety at 1-781-736-3333</p>
    </center>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col body-diagram-block">
    <h3>Body Diagram</h3>
    <p>Click on a body part to see a list of symptoms.</p>
    <%= button_to fetch_diagram_path, :remote => true do %>
      <span>Clear</span>
    <% end %>  
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
	<div id="body-image"></div>
	<div id="body-image-switches">
	  <span id="btn_m" class="btn_base">&#9794;</span>
	  <span id="btn_f" class="btn_base">&#9792;</span>
	</div>
      </div>
      <div class="mdl-cell mdl-cell--6-col">
	<div class="body-labels">
	  <%= render @body_parts %>
	</div>
      </div>
    </div>
  </div>
  
  <div class="mdl-cell mdl-cell--4-col" id="diagram_results_symptoms">
    <%= render partial: 'symptoms_placeholder' %>
  </div>
  <div class="mdl-cell mdl-cell--4-col" id="diagram_results_ailments">
    <%= render partial: 'ailments_placeholder' %>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col" id="diagram_results_treatment">
    <%= render partial: 'treatment_placeholder' %>
  </div>
</div>
