<div class="mdl-grid">
  
  <div class="mdl-cell mdl-cell--4-col body-diagram-block mdl-shadow--2dp plain-background">
    <div class="card-header-color mdl-color-text--grey-600 mdl-shadow--2dp mdl-card__title">
      <h4>Body Diagram</h4>
      <div class="mdl-layout-spacer"></div>      
      <%= button_to fetch_diagram_path, :remote => true, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" do %>
        <span>Clear</span>
      <% end %>
    </div>
    <div class="mdl-card__supporting-text">    
      <p>Click on a body part to see a list of symptoms.</p>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <div class="mdl-grid">
	
	<div class="mdl-cell mdl-cell--6">
	  <div class="mdl-cell mdl-cell--middle">
	    <div id="body-image"></div>
	    <div id="body-image-switches">
	      <span id="btn_m" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab btn_base">&#9794;</span>
	      <span id="btn_f" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab btn_base btn_base">&#9792;</span>
	    </div>
	  </div>
	</div>
	
        <div class="mdl-cell mdl-cell--6-col">
	  <div class="mdl-cell mdl-cell--middle">
	    <div class="body-labels">
	      <%= render @body_parts %>
	    </div>
	  </div>
        </div>
	
      </div>
    </div>
  </div>

  <!-- _symptoms_list -->
  <div class="mdl-cell mdl-cell--4-col mdl-shadow--2dp body-background">
    <div class="card-header-color mdl-color-text--grey-600 mdl-shadow--2dp mdl-card__title">
      <h4>Symptoms</h4>
    </div>
    <div class="mdl-card__supporting-text">    
      <p>Click on a symptom to view a list of ailments.</p>
    </div>
    <div id="diagram_results_symptoms" class="mdl-card__actions mdl-card--border">
    </div>
  </div>

  <!-- _ailments_list (diseases) -->
  <div class="mdl-cell mdl-cell--4-col mdl-shadow--2dp body-background-offset-right">
    <div class="card-header-color mdl-color-text--grey-600 mdl-shadow--2dp mdl-card__title">
      <h4>Ailments</h4>
    </div>
    <div class="mdl-card__supporting-text">
      <p>Click on an ailment to view more information.</p>
    </div>
    <div id="diagram_results_ailments" class="mdl-card__actions mdl-card--border">
    </div>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <center>
      <h1>Self Diagnosis Tool</h1>
      <p><strong>This diagnosis tool is for non-emergency services only.</strong>  In the event of an emergency call 911 or campus public safety at 1-781-736-3333</p>
    </center>
  </div>  

  <!-- _show (disease) -->
  <div class="mdl-cell mdl-cell--4-col mdl-shadow--2dp">
    <div class="card-header-color mdl-color-text--grey-600 mdl-shadow--2dp mdl-card__title">
      <h4>Treatment</h4>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-layout-spacer"></div>              
      <%= button_to body_diagram_path, :remote => true, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" do %>
        Back
      <% end %>
      <div class="mdl-layout-spacer"></div>        
      <%= button_to fetch_diagram_path, :remote => true, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" do %>
        Clear
      <% end %>        
    </div>
    <div class="mdl-card__supporting-text">
      <p>Click on a link to read more about a medical resource.</p>
    </div>    
    <div id="diagram_results_treatment" class="mdl-card__actions mdl-card--border">
      <%= render partial: 'treatment_placeholder' %>
    </div>
  </div>

</div>
