<p id="notice"><%= notice %></p>

<h1><%= @body_part.name.capitalize %></h1>

<p>What is the closest to your symptom?</p>

<ul>
  <% @symptoms.each do |symptom| %>
    <li><%= link_to symptom.name.capitalize, symptom %></li>
  <% end %>
</ul>

<p><%= link_to 'Back to body diagram', body_diagram_path %></p>

<% if Rails.env.development? %>
  <p><%= link_to 'View all body parts', body_parts_path %></p>
<% end %>
