<%= csrf_meta_tags %>
<!-- <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header", width ="100"> -->
  <!-- <header class="mdl-layout__header"> -->




    <div class="mdl-layout__header-row">
    <!-- <title>Health Decoder</title> -->
      <span class="mdl-layout-title">Health Decoder</span>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="/users">Users</a>
        <a class="mdl-navigation__link" href="/logs">Log</a>
        <a class="mdl-navigation__link" href="/resources">Resources</a>
        <a class="mdl-navigation__link" href="/plans">Plans</a>
        <a class="mdl-navigation__link" href="/map">Map</a>
      </nav>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="fixed-header-drawer-exp">
        </div>
      </div>
      <% if logged_in? %>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white;">
            Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to login_path do %><span class="glyphicon glyphicon-user"></span> Log In <% end %> </li>
      <% end %>

    <!-- </header> -->
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Title</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
</div>

<style>
    .mdl-navigation__link:hover {
      border-bottom: 4px solid #8bc34a;
    }
</style>

<script>
  $('.mdl-layout-title').on('click', function(){
     window.location = "/";
  });
</script>