<div class="mdl-layout__header-row">
  
  <title class="mdl-layout-title">Health Decoder</title>
  
  <nav class="mdl-navigation mdl-layout--large-screen-only">
    <%= link_to 'Home', root_path, class: "mdl-navigation__link" %>
    <% if logged_in? %>
      <%= link_to 'Personal Log', logs_path, class: "mdl-navigation__link" %>
    <% end %>
    <%= link_to 'Quick Diagnosis', body_diagram_path, class: "mdl-navigation__link" %>
    <%= link_to 'Resources', resources_path, class: "mdl-navigation__link" %>  
  </nav>
  
  <div class="mdl-layout-spacer"></div>
  
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
    <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
      <i class="material-icons">search</i>
    </label>
    <div class="mdl-textfield__expandable-holder">
      <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
    </div>
  </div>

  <% if logged_in? %>
    <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons" role="presentation">account_circle</i>
      <span class="visuallyhidden">Accounts</span>
    </button>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
      <li class="mdl-menu__item mdl-list__item" id="profile">
	<%= link_to edit_user_path(current_user) do %>
	  <span class="mdl-list__item-primary-content">
	    <i class="material-icons mdl-list__item-icon">mode_edit</i>
	    Edit Profile
	  </span>
	<% end %>
      </li>
      <li class="mdl-menu__item mdl-list__item">
	<%= link_to logout_path, method: :delete do %>
	  <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">exit_to_app</i>
	    Log out
	  </span>
	<% end %>
      </li>
    </ul>
  <% end %>

</div>

<style>
    a:hover, a:visited, a:link, a:active{
      text-decoration: none;
    }
    .mdl-navigation__link:hover {
      border-bottom: 4px solid #8bc34a;
    }
    .mdl-menu__item{
      font-family: "Roboto","Helvetica","Arial",sans-serif;
    }
</style>

<script>
  $('.mdl-layout-title').on('click', function(){
     window.location = "/";
  });
</script>

<% if current_user %>
<script>
  $('#profile').on('click', function(){
    var path = "<%=edit_user_path(current_user)%>";
     window.location = path;
  });
</script>
<% end %>
