<header>
  <%= csrf_meta_tags %>
  <section class="intro">
    <title>Health Decoder</title>

  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Health Decoder</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><%= link_to "Users", users_url %></li>
        <li><%= link_to "Log", logs_log_url %></li>
        <li><%= link_to "Help",   '#' %></li>
    </ul>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" action="">
          <div class="input-group">
            <form action="" accept-charset="UTF-8" method="get">
              <input name="utf8" type="hidden" value="&#x2713;" />
              <input type="text" class="form-control" placeholder="Search" name="search" id="search" />
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit" />
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </form>
          </div>
        </form>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to login_path do %><span class="glyphicon glyphicon-user"></span> Log In <% end %> </li>
        <% end %>
      </div>
    </ul>

  </nav>
</header>
