<!DOCTYPE html>
<html>
  <head>
    <title>HealthInsuranceDecoder</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
<<<<<<< HEAD
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

=======
    
>>>>>>> 64e4a238c0cfa7dacde5410af9d6d8a6ca5349da
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout">
      <header class="mdl-layout__header">
        <%= render 'layouts/header' %>
      </header>
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <main class="mdl-layout__content" style="flex: 2 2 auto;">
        <%= yield %>
      </main>
      <footer>
        <%= render 'layouts/footer' %>
      </footer>
    </div>
  </body>
</html>
